html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h3{
    text-align: center;
    font-weight: lighter;
}

main h3 a {
    text-decoration: none;
    font-weight: bold;
}

.m-text {
    margin-top: -10px;
}

.main-list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding-bottom: 40px;
}

.main-list > div {
    margin: 10px;
    font-weight: bold;
}

footer {
    background-color: rgb(243, 238, 238);
}

footer h2 {
    padding-top: 30px;
    text-align: center;
    font-weight: lighter;
}

footer p {
    text-align: center;
    font-size: 11px;
    color: rgba(156, 158, 162, 1);
}

.footer_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.footer_list > div {
    margin: 10px;
    font-weight: bold;
}

.footer_list > div > a {
    font-size: 12px;
    color: rgb(71, 138, 221);
    text-decoration: none;
}