html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(177, 205, 238);
}

header > .navbar {
    padding-top: 20px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.navbar > .left > .left-item {
    font-size: 15px;
    font-weight: bold;
}

.navbar > .left  a {
    text-decoration: none;
    color: rgb(94, 94, 243);
}

.navbar > .center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navbar > .center > .center-item {
    margin-right: 40px;
    font-size: 14px;
    font-weight: bold;
}

.navbar > .center a {
    text-decoration: none;
    color: black;
}

.right > .right-button {
    border: none;
    background-color: rgb(177, 205, 238);
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.right > .right-button a {
    color: rgb(94, 94, 243);
    text-decoration: none;
}

.right > .right-button a:hover {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 10px 17px;
    text-align: center;
    margin: 10px 5px;
    cursor: pointer;
}

.design {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.text-design {
    margin-left: 100px;
}

.text-design > h2 {
    font-size: 50px;
}

.text-design > h2, .small-text {
    width: 500px;
    word-wrap: break-word;
}

.img-design > img {
    height: 200px;
    margin-right: 100px;
}

main {
    padding-top: 40px;
}

main h3{
    text-align: center;
    font-weight: lighter;
}

main h3 a {
    text-decoration: none;
    font-weight: bold;
}

.m-text {
    margin-top: -10px;
}

.main-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 40px;
}

.main-list > div {
    margin: 10px;
    font-weight: bold;
}

.main-list > div > img {
    height: 17px;
}

.main-list > div > .special {
    height: 70px;
    margin-top: -20px;
}

.main-list > .red {
    color: rgb(240, 27, 27);
}

.main-list > .green {
    color: rgb(138, 250, 138);
}

footer {
    background-color: rgb(243, 238, 238);
}

footer h2 {
    padding-top: 30px;
    text-align: center;
    font-weight: lighter;
}

footer p {
    text-align: center;
    font-size: 11px;
    color: rgba(156, 158, 162, 1);
}

.footer_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.footer_list > button {
    border: none;
    background-color: rgb(243, 238, 238);
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.footer_list > .footer-button  a {
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    color: rgb(71, 138, 221);
    text-decoration: none;
}

.footer_list > .footer-button  a:hover {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 6px 12px;
    text-align: center;
    margin: 10px 5px;
    cursor: pointer;
}