body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  padding-bottom: 220px;
  background-color: rgb(177, 205, 238);
}

.header > .navbar {
  padding-top: 20px;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.navbar > .left > .left-item {
  font-size: 15px;
  font-weight: bold;
}

.navbar > .left  a {
  text-decoration: none;
  color: #2038ee;
}

.navbar > .center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar > .center > .center-item {
  margin-right: 40px;
  font-size: 14px;
  font-weight: bold;
}

.navbar > .center a {
  text-decoration: none;
  color: black;
}

.right > .right-button {
  border: none;
  background-color: rgb(177, 205, 238);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.right > .right-button a {
  color: #2038ee;
  text-decoration: none;
}

.right > .right-button a:hover {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 10px 17px;
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
}

.design {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.text-design {
  margin-left: 100px;
}

.text-design > h2 {
  font-size: 50px;
}

.text-design > .small-text {
  color: rgba(156, 158, 162, 1);
  font-weight: bold;
  font-size: 14px;
  margin-top: -20px;
}

.text-design > h2, .small-text {
  width: 500px;
  word-wrap: break-word;
}

.text-design > input[type=text] {
  padding: 15px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 15px;
  width: 350px;
}

.text-design > .text-design-button {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 9px 12px;
  text-align: center;
  margin-left: -115px;
  cursor: pointer;
}

.img-design > img {
  height: 200px;
  margin-right: 200px;
  margin-top: 100px;
}

.fa-discord {
  padding: 8px;
  color: #ffffff;
  background-color: #423abb;
  border-radius: 8px;
}

.discord {
  width: 200px;
  height: 80px;
  padding: 15px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 245px;
  margin-top: -10px;
}

.discord > .text-1 {
  font-size: 12px;
  font-weight: bold;
  margin-top: -45px;
  margin-left: 70px;
}

.discord > .text-2 {
  font-size: 12px;
  font-weight: lighter;
  margin-left: 70px;
  color: grey;
}

.interview-button {
  border: 1px solid #d8f3db;
  border-radius: 5px;
  background-color: #d8f3db;
  color: #68e425;
  font-weight: bold;
  padding: 5px 9px;
  text-align: center;
  cursor: pointer;
}

.fa-dropbox {
  padding: 8px;
  color: #ffffff;
  background-color: #2038ee;
  border-radius: 8px;
}

.dropbox {
  width: 49px;
  padding: 4px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: -300px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.fa-briefcase {
  padding: 8px;
  color: #ffffff;
  background-color: #3a8ffd;
  border-radius: 8px;
}

.briefcase {
  width: 150px;
  padding: 7px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: -45px;
  margin-bottom: 17px;
}

.briefcase > .text-1 {
  font-size: 12px;
  font-weight: lighter;
  margin-top: -45px;
  margin-left: 70px;
  color: grey;
}

.briefcase > .text-2 {
  font-size: 12px;
  font-weight: bold;
  margin-left: 70px;
}

.fa-airbnb {
  padding: 8px;
  color: #ffffff;
  background-color: #ee202a;
  border-radius: 8px;
}

.airbnb {
  width: 45px;
  padding: 4px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 120px;
}

.fa-basketball {
  padding: 8px;
  color: #ffffff;
  background-color: #fa3afd;
  border-radius: 8px;
}

.basketball {
  width: 49px;
  padding: 4px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 265px;
  margin-top: -150px;
}

.fa-credit-card {
  padding: 8px;
  color: #ffffff;
  background-color: #3accfd;
  border-radius: 8px;
}

.credit-card {
  width: 52px;
  height: 52px;
  padding: 4px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 230px;
  margin-top: -180px;
}

.fa-circle-check {
  margin-left: 50px;
  color: #34ec27;
}

.credit-card > .text {
  font-weight: bold;
  padding: 5px;
  padding-right: 55px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 70px;
  margin-top: -25px;
  font-size: 12px;
}

.main {
  padding-top: 40px;
}

.main h3{
  text-align: center;
  font-weight: lighter;
}

.main h3 a {
  text-decoration: none;
  font-weight: bold;
}

.m-text {
  margin-top: -10px;
  margin-bottom: 40px;
}

.main-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}

.main-list > div > a {
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.main-list > div > a > img {
  height: 17px;
}

.main-list > div > a > .special {
  height: 70px;
  margin-top: -20px;
}

.main-list > .red > a {
  color: rgb(240, 27, 27);
}

.main-list > .green > a {
  color: rgb(138, 250, 138);
}

.footer {
  background-color: rgb(243, 238, 238);
}

.footer h2 {
  padding-top: 30px;
  text-align: center;
  font-weight: lighter;
}

.footer p {
  text-align: center;
  font-size: 11px;
  color: rgba(156, 158, 162, 1);
}

.footer_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.footer_list > button {
  border: none;
  background-color: rgb(243, 238, 238);
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.footer_list > .footer-button  a {
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  color: rgb(71, 138, 221);
  text-decoration: none;
}

.footer_list > .footer-button  a:hover {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 6px 12px;
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
}